---
layout: default
title: Home
---
<section id="home" class="intro-carousel-container">
    {% include intro.html %}
</section>

<!-- PROJECTS -->
<section id="company-projects">
    {% include company-projects.html %}
</section>

<section id="research-projects">
    {% include research-school-projects.html %}
</section>


<script> // Header scroll effect
document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        e.preventDefault();

        const targetId = this.getAttribute('href').substring(1);
        const targetElement = document.getElementById(targetId);

        if (targetElement) {
            const headerHeight = document.querySelector('.site-header').offsetHeight;
            const targetPosition = targetElement.getBoundingClientRect().top + window.pageYOffset - headerHeight;

            window.scrollTo({
                top: targetPosition,
                behavior: 'smooth'
            });
        }
    });
});
</script>

{% include modal.html %}