<h2>Work Projects</h2>
    <ul class="project-list">
        <!-- Project 1 -->
        <li class="project-item" data-project-id="monarch">
            <div class="project-content">
                <img src="assets/images/project_images/monarch.gif" alt="Working at J&J">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            <a href="https://www.jnjmedtech.com/en-US/product-family/monarch" target="_blank">Monarch Endoscopic Surgical Platform - Auris Health / Johnson & Johnson MedTech</a>
                        </h3>
                    </div>
                    <p>As a senior mechanical engineer currently working at J&J, I am mainly responsible for system design on the <strong>Monarch Surgical Platform</strong>, the first robotic platform for minimally invasive diagnostic and therapeutic procedures in the lungs and kidneys.</p>
                    <p>I work on many projects related to the robotic arm and instrument manipulator, both on the hardware and software front. I'm not able to disclose too many details on these projects at the moment, but I will be glad to share my experience when the legal effect expires.</p>
                    <p><a href="https://www.jnjmedtech.com/en-US/product-family/monarch/" target="_blank" class="contact-item">Company Website</a></p>
                </div>
            </div>
        </li>
        
        
        <!-- Project 2 -->
        <li class="project-item" data-project-id="yomi">
            <div class="project-content">
                <img src="assets/images/project_images/yomi.gif" alt="Working at Neocis">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            <a href="https://www.neocis.com/" target="_blank">Yomi Surgical Robot - Neocis Inc.</a>
                        </h3>
                    </div>
                    <p>Neocis Inc. is a surgical robotics company focused on dental implant space, and the developer of <strong>Yomi</strong>, the only FDA cleared <strong>dental surgical platform</strong>.</p>
                    <p>I joined Neocis as one of the original 4 mechatronics team members to develop a 2nd gen system, and was mainly responsible for actuated system design. I designed and developed joint actuators for a 7-dof robot arm and many peripheral systems around them.</p>
                    <p><a href="https://www.neocis.com/" target="_blank" class="contact-item">Company Website</a></p>
                </div>
            </div>
        </li>
        
        <!-- Project 3 -->
        <li class="project-item" data-project-id="harmony">
            <div class="project-content">
                <img src="assets/images/project_images/harmony.gif" alt="Working at Harmonic Bionics">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            <a href="https://harmonicbionics.com/" target="_blank">Harmony SHR - Harmonic Bionics Inc.</a>
                        </h3>
                    </div>
                    <p>Harmonic Bionics Inc. is the developer of <strong>Harmony SHR</strong>, an exoskeleton designed for upper extremity functional therapy.</p>
                    <p>I joined Harmonic Bionics as a mechanical engineer co-op in 2020, developing the Harmony SHR platform and pre-market prototypes. I was responsible for one of the three major CAD service region, and designed components using various manufacturing techniques.</p>
                    <p><a href="https://harmonicbionics.com/" target="_blank" class="contact-item">Company Website</a></p>
                </div>
            </div>
        </li>
    </ul>
