<h2>Professional Work</h2>
    <ul class="project-list">
        <!-- Project 1 -->
        <li class="project-item" data-project-id="monarch">
            <div class="project-content">
                <img src="assets/images/project_images/monarch.gif" alt="JNJ Monarch Robot">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            Monarch Endoscopic Surgical Platform - Auris Health / Johnson & Johnson MedTech
                        </h3>
                    </div>
                    <p>As a senior mechanical engineer currently working at J&J, I am mainly responsible for hardware system design on the <strong>Monarch Surgical Platform</strong>, the first robotic platform for minimally invasive diagnostic and therapeutic procedures in the lungs and kidneys.</p>
                    <p>I work on many projects related to the robotic arm and instrument manipulator, both on the hardware and software front.</p>
                    <!-- <p><a href="https://www.jnjmedtech.com/en-US/product-family/monarch/" target="_blank" class="contact-item">Company Website</a></p> -->
                    <div class="tech-list"> 
                        <span class="tech-item">Robotic Arm Design</span> 
                        <span class="tech-item">Medical Device</span> 
                        <span class="tech-item">Robot Calibration</span> 
                        <span class="tech-item">NPS Software</span>
                    </div>
                </div>
            </div>
        </li>
        
        
        <!-- Project 2 -->
        <li class="project-item" data-project-id="yomi">
            <div class="project-content">
                <img src="assets/images/project_images/yomi_s.gif" alt="Neocis Yomi S Surgical Robot">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            Yomi S Surgical Robot - Neocis Inc.
                        </h3>
                    </div>
                    <p>Neocis Inc. is a surgical robotics company focused on dental implant space, and the developer of <strong>Yomi</strong>, the only FDA cleared <strong>dental surgical platform</strong>.</p>
                    <p>I designed and developed joint actuators for a 7-dof robot arm and many peripheral systems around them on the second generation Yomi S system.</p>
                    <!-- <p><a href="https://www.neocis.com/" target="_blank" class="contact-item">Company Website</a></p> -->
                    <div class="tech-list">
                        <span class="tech-item">Actuator Design</span>
                        <span class="tech-item">Precision Mechatronics</span>
                        <span class="tech-item">Robot Calibration</span>
                        <span class="tech-item">System Integration</span>
                    </div>
                </div>
            </div>
        </li>
        
        <!-- Project 3 -->
        <li class="project-item" data-project-id="harmony">
            <div class="project-content">
                <img src="assets/images/project_images/harmony.gif" alt="Harmonic Bionics Harmony SHR Exo">
                <div class="project-details">
                    <div class="project-title"> <h3>Harmony SHR - Harmonic Bionics Inc. </h3></div>
                    <p>Harmonic Bionics Inc. is the developer of <strong>Harmony SHR</strong>, an exoskeleton designed for upper extremity functional therapy.</p>
                    <p>I developed Harmony SHR platform and pre-market prototypes as a mechanical engineer co-op. I was responsible for a major CAD service region, and designed components using various manufacturing techniques.</p>
                    <!-- <p><a href="https://harmonicbionics.com/" target="_blank" class="contact-item">Company Website</a></p> -->
                    <div class="tech-list">
                        <span class="tech-item">Exoskeleton Design</span>
                        <span class="tech-item">Medical Robot</span>
                        <span class="tech-item">Linear Actuators</span>
                        <span class="tech-item">Human-Robot Interface</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
