<h2>Featured Projects</h2>
    <ul class="project-list">
        <li class="project-item" data-project-id="dexterous-hand">
            <div class="project-content">
                <img src="assets/images/project_images/Hand/hand_preview_v3.gif" alt="Hand build">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            BiDexHand: 16-DoF Open-Source Biomimetic Dexterous Hand
                        </h3>
                    </div>
                    <p><strong>BiDexHand</strong> is my 10-week winter 2025 project.</p>
                    <p>I've always been fascinated by the complexity and dexterity of the human hand, one of our most remarkable tools. In this project, I designed a robotic hand that replicates human dexterity using cable-driven mechanisms.</p>
                    <!-- <p><a href="https://github.com/wengmister/Hand" target="_blank" class="contact-item">Project Repo</a></p> -->
                    <div class="tech-list">
                        <span class="tech-item">Dexterous Hand</span>
                        <span class="tech-item">Cable Driven Actuators</span>
                        <span class="tech-item">Rapid Prototyping</span>
                        <span class="tech-item">Computer Vision</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="project-item" data-project-id="robotic-mini-golf">
            <div class="project-content">
                <img src="assets/images/project_images/apex-putter-shots.gif" alt="Robotic Mini-golf">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                           Apex Putter: Robotic Mini-Golf
                        </h3>
                    </div>
                    <p>Love a game of putt-putt? Check out how machine learning, computer vision, and kinematic control turn the Franka FER Robot into a mini-golf ace - sinking hole-in-ones from anywhere like a champ.</p>
                    <!-- <p><a href="https://github.com/wengmister/Apex-Putter" target="_blank" class="contact-item">Project Repo</a></p> -->                    
                    <div class="tech-list">
                        <span class="tech-item">ROS2</span>
                        <span class="tech-item">Robot Calibration</span>
                        <span class="tech-item">Computer Vision</span>
                        <span class="tech-item">Machine Learning</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
