<h2>Featured Projects</h2>
    <ul class="project-list">
        <li class="project-item" data-project-id="dexterous-hand">
            <div class="project-content">
                <img src="assets/images/project_images/Hand/hand_build1.jpg" alt="Hand build">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            Biomimetic Dexterous Hand - Winter 2025
                        </h3>
                    </div>
                    <p><strong>Biomimetic Cable-Driven Dexterous Hand</strong> is my winter 2025 project work-in-progress.</p>
                    <p>I've always been fascinated by the complexity and dexterity of the human hand, one of our most remarkable tools. In this project, I'm designing a biomimetic hand that replicates human dexterity using cable-driven phalangeal joints to minimize distal inertia.</p>
                    <!-- <p><a href="https://github.com/wengmister/Hand" target="_blank" class="contact-item">Project Repo</a></p> -->
                    <div class="tech-list">
                        <span class="tech-item">Dexterous Hand</span>
                        <span class="tech-item">Cable Driven Actuators</span>
                        <span class="tech-item">Rapid Prototyping</span>
                        <span class="tech-item">Computer Vision</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
