<h2>Featured Projects</h2>
    <ul class="project-list">
        <li class="project-item" data-project-id="dexterous-hand">
            <div class="project-content">
                <img src="assets/images/project_images/Hand/hand_preview_v3.gif" alt="Hand build">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            BiDexHand: 16-DoF Open-Source Biomimetic Dexterous Hand
                        </h3>
                    </div>
                    <p>I've always been fascinated by the complexity and dexterity of the human hand, one of our most remarkable tools. In this project, I designed a robotic hand that replicates human dexterity using cable-driven mechanisms.</p>
                    <!-- <p><a href="https://github.com/wengmister/Hand" target="_blank" class="contact-item">Project Repo</a></p> -->
                    <div class="tech-list">
                        <span class="tech-item">Dexterous Hand</span>
                        <span class="tech-item">Cable Driven Actuators</span>
                        <span class="tech-item">Rapid Prototyping</span>
                        <span class="tech-item">Computer Vision</span>
                    </div>
                </div>
            </div>
        </li>
        <!-- Project 2 -->
        <li class="project-item" data-project-id="bdbach">
            <div class="project-content">
                <img src="assets/images/project_images/bdbach.gif" alt="B.D.Bach">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            B.D. Bach: BiDexHand Plays Bach
                        </h3>
                    </div>
                    <p>Playing a musical instrument is the epitome of human dexterity, requiring precision control, coordination, and real-time feedback in manipulation. In this project, I teach BiDexHand to play Baroque music with me, starting from Bach's Well-Tempered Klavier. </p>
                    <div class="tech-list">
                        <span class="tech-item">Dexterous Manipulation</span>
                        <span class="tech-item">Kinematic Control</span>
                        <span class="tech-item">Robot Calibration</span>
                        <span class="tech-item">C++</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
