<h2>Research & Studies</h2>
    <ul class="project-list">
        <!-- Project 1 -->
        <li class="project-item" data-project-id="robotic-mini-golf">
            <div class="project-content">
                <img src="assets/images/project_images/apex-putter-shots.gif" alt="Robotic Mini-golf">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                           Apex Putter - Embedded Systems in Robotics
                        </h3>
                    </div>
                    <p><strong>Apex Putter: Robotic Mini-Golf</strong> was my culminating project for <em>ME495: Embedded Systems in Robotics</em> in Fall 2024.</p>
                    <p>Through this project, I integrated robot calibration, precise kinematic control, advanced computer vision, and machine learning techniques to enable a Franka Emika Research robot to excel at mini-golf. The system was capable of executing a hole-in-one from any starting ball position.</p>
                    <!-- <p><a href="https://github.com/wengmister/Apex-Putter" target="_blank" class="contact-item">Project Repo</a></p> -->
                    <div class="tech-list">
                        <span class="tech-item">ROS2</span>
                        <span class="tech-item">Robot Calibration</span>
                        <span class="tech-item">Computer Vision</span>
                        <span class="tech-item">Machine Learning</span>
                    </div>
                </div>
            </div>
        </li>
        <!-- Project 2 -->
        <li class="project-item" data-project-id="grab-a-pen">
            <div class="project-content">
                <img src="assets/images/project_images/hackathon_pen_s.gif" alt="PincherX Grab-A-Pen">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            Grab-A-Pen Challenge - Northwestern MSR Hackathon
                        </h3>
                    </div>
                    <p><strong>Grab-A-Pen</strong> was the final challenge of the MSR program orientation hackathon.</p>
                    <p>In this challenge, I calibrated and aligned a Trosen Robotics PincherX100 robot arm using an RGBD camera. The arm was programmed to locate, pick up a pen, and hand it off to other robots. (Video courtesy of <a href="https://absrat.com/">Zhengxiao Han</a>.)</p>
                    <!-- <p><a href="https://github.com/wengmister/msr_PincherX" target="_blank" class="contact-item">Project Repo</a></p> -->
                    <div class="tech-list">
                        <span class="tech-item">Robot Calibration</span>
                        <span class="tech-item">Computer Vision</span>
                        <span class="tech-item">Kinematic Control</span>
                    </div>
                </div>
            </div>
        </li>
        <!-- Project 3 -->
        <li class="project-item" data-project-id="mobile-manipulation">
            <div class="project-content">
                <img src="assets/images/project_images/mobile_manipulation.gif" alt="Mobile Manipulation">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            Mobile Manipulation - Robotic Manipulation
                        </h3>
                    </div>
                    <p><strong>Mobile Manipulation</strong> was my final project for <em>ME449: Robot Manipulation</em>.</p>
                    <p>I applied course concepts like robotic manipulation, forward kinematics, and linear control to create a CoppeliaSim simulation that showed a KUKA youBot moving a box from one location to another with precision and efficiency.</p>
                    <!-- <p><a href="https://github.com/wengmister/me449/tree/main/final_project" target="_blank" class="contact-item">Project Repo</a></p> -->
                    <div class="tech-list">
                        <span class="tech-item">Robotic Manipulation</span>
                        <span class="tech-item">Forward Kinematics</span>
                        <span class="tech-item">Linear Control</span>
                        <span class="tech-item">Simulation</span>
                    </div>
                </div>
            </div>
        </li>

        <!-- Research stuff now -->
        <!-- Project 4 -->
        <li class="project-item" data-project-id="athena">
            <div class="project-content">
                <img src="assets/images/project_images/athena.jpg" alt="Research at LIDAR Lab">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            Athena - Laboratory for Intelligent Decision and Autonomous Robots - Georgia Tech
                        </h3>
                    </div>
                    <p>The Laboratory for Intelligent Decision and Autonomous Robots (LIDAR Lab) led by Prof. Ye Zhao at GaTech focuses research on robotic system and interactions.</p>
                    <p>While in LIDAR, I led a sub-team of 12 undergraduate students and worked on designing and integrating a biomimetic upper body robot, Athena. My team focused on designing and characterizing mechatronics systems that emulate human muscle architecture.</p>
                    <!-- <p><a href="https://lab-idar.gatech.edu/" target="_blank" class="contact-item">Lab Homepage</a></p> -->
                    <div class="tech-list">
                        <span class="tech-item">Biomimetic Robot</span>
                        <span class="tech-item">Mechatronics</span>
                        <span class="tech-item">CAD Optimization</span>
                        <span class="tech-item">System Integration</span>
                </div>
            </div>
        </li>
        
        <!-- Project 5 -->
        <li class="project-item" data-project-id="hip-exo">
            <div class="project-content">
                <img src="assets/images/project_images/hip-exo.gif" alt="Research at EPIC Lab">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            Assistive Hip Exoskeleton - Exoskeleton and Prosthetics Intelligent Control Lab - Georgia Tech
                        </h3>
                    </div>
                    <p>The Exoskeleton and Prosthetic Intelligent Controls (EPIC) Lab at Georgia Tech, led by Professor Aaron Young, is devoted to the design and improvement of powered orthotic and prosthetic control systems.</p>
                    <p>While in EPIC, I worked on the Assistive Hip Exoskeleton project as an undergraduate RA. I designed and machined the housings and most major components on the series elastic actuators of the hip exo. </p>
                    <!-- <p><a href="https://www.epic.gatech.edu/" target="_blank" class="contact-item">Lab Homepage</a></p> -->
                    <div class="tech-list">
                        <span class="tech-item">Exoskeleton</span>
                        <span class="tech-item">Series Elastic Actuators</span>
                        <span class="tech-item">Mechanical Design</span>
                </div>
            </div>
        </li>
    </ul>
