<h2>Research & Studies</h2>
    <ul class="project-list">
        <!-- Project 0 -->
        <li class="project-item" data-project-id="robotic-mini-golf">
            <div class="project-content">
                <img src="assets/images/project_images/apex-putter-shots.gif" alt="Robotic Mini-golf">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                           Apex Putter: Robotic Mini-Golf
                        </h3>
                    </div>
                    <p>Love a game of putt-putt? Check out how machine learning, computer vision, and kinematic control turn the Franka FER Robot into a mini-golf ace - sinking hole-in-ones from anywhere like a champ.</p>
                    <!-- <p><a href="https://github.com/wengmister/Apex-Putter" target="_blank" class="contact-item">Project Repo</a></p> -->                    
                    <div class="tech-list">
                        <span class="tech-item">ROS2</span>
                        <span class="tech-item">Robot Calibration</span>
                        <span class="tech-item">Computer Vision</span>
                        <span class="tech-item">Machine Learning</span>
                    </div>
                </div>
            </div>
        </li>
        <!-- Project 0.5 -->
        <li class="project-item" data-project-id="franka-teleop">
            <div class="project-content">
                <img src="assets/images/project_images/franka-vr-teleop.gif" alt="Robotic Arm">
                <div class="project-details">
                    <div class="project-title">
                        <h3> 
                            FrankaTeleop: Exploring Robot Teleoperation with Franka FER Robot
                        </h3>
                    </div>
                    <p>Teleoperating Franka FER Robot with different input modalities.</p>
                    <div class="tech-list">
                        <span class="tech-item">Mixed Reality</span>
                        <span class="tech-item">Robot Teleoperation</span>
                        <span class="tech-item">Kinematic Control</span>
                    </div>
                </div>
            </div>
        </li>
        <!-- Project 1 -->
        <li class="project-item" data-project-id="grab-a-pen">
            <div class="project-content">
                <img src="assets/images/project_images/hackathon_pen_s.gif" alt="PincherX Grab-A-Pen">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            PenStealer: PincherX100 Grab-A-Pen
                        </h3>
                    </div>
                    <p>It's not every day you get to teach a robot how to pass a pen like a teammate. In this project, I calibrated a Trossen Robotics PincherX100 robot arm using an RGB-D camera. The arm was tasked to locate, pick up a pen, and hand it off to other robots.</p>
                    <!-- <p><a href="https://github.com/wengmister/msr_PincherX" target="_blank" class="contact-item">Project Repo</a></p> -->
                    <div class="tech-list">
                        <span class="tech-item">Robot Calibration</span>
                        <span class="tech-item">Computer Vision</span>
                        <span class="tech-item">Kinematic Control</span>
                    </div>
                </div>
            </div>
        </li>
        <!-- Project 2 -->
        <li class="project-item" data-project-id="point-cloud-classification">
            <div class="project-content">
                <img src="assets/images/project_images/point_cloud.gif" alt="Point Cloud Classification">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            RGBPointNet: RGB Point Cloud Based Object Classification
                        </h3>
                    </div>
                    <p>Point clouds are common data format used in robotics. In this project, we implemented a custom PointNet architecture and augmented it with RGB color on the point cloud to classify objects in a custom dataset we generated.</p> 
                <div class="tech-list">
                    <span class="tech-item">Machine Learning</span>
                    <span class="tech-item">Multilayer Perceptron</span>
                    <span class="tech-item">PointNet</span>
                    <span class="tech-item">RGB Augmentation</span>
                </div>
            </div>
        </li>
        <!-- Project 3 -->
        <li class="project-item" data-project-id="mobile-manipulation">
            <div class="project-content">
                <img src="assets/images/project_images/mobile_manipulation.gif" alt="Mobile Manipulation">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            KUKA youBot Mobile Manipulation
                        </h3>
                    </div>
                    <p>Applying concepts like robotic manipulation, forward kinematics, and linear control, I created a CoppeliaSim simulation that showed a KUKA youBot moving a box from one location to another with precision and efficiency.</p>
                    <!-- <p><a href="https://github.com/wengmister/me449/tree/main/final_project" target="_blank" class="contact-item">Project Repo</a></p> -->
                    <div class="tech-list">
                        <span class="tech-item">Robotic Manipulation</span>
                        <span class="tech-item">Forward Kinematics</span>
                        <span class="tech-item">Linear Control</span>
                        <span class="tech-item">Simulation</span>
                    </div>
                </div>
            </div>
        </li>

        <!-- Research stuff now -->
        <!-- Research 1 -->
        <li class="project-item" data-project-id="athena">
            <div class="project-content">
                <img src="assets/images/project_images/athena.jpg" alt="Research at LIDAR Lab">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            Athena - Laboratory for Intelligent Decision and Autonomous Robots - Georgia Tech
                        </h3>
                    </div>
                    <p>The Laboratory for Intelligent Decision and Autonomous Robots (LIDAR Lab) led by Prof. Ye Zhao at GaTech focuses research on robotic system and interactions.</p>
                    <p>While in LIDAR, I led a sub-team of 7 undergraduate students and worked on designing, fabricating and integrating a biomimetic upper body robot, Athena. My team focused on designing and characterizing mechatronics systems that emulate human muscle architecture.</p>
                    <!-- <p><a href="https://lab-idar.gatech.edu/" target="_blank" class="contact-item">Lab Homepage</a></p> -->
                    <div class="tech-list">
                        <span class="tech-item">Biomimetic Robot</span>
                        <span class="tech-item">Mechatronics</span>
                        <span class="tech-item">CAD Optimization</span>
                        <span class="tech-item">System Integration</span>
                </div>
            </div>
        </li>
        
        <!-- Research 2 -->
        <li class="project-item" data-project-id="hip-exo">
            <div class="project-content">
                <img src="assets/images/project_images/hip-exo.gif" alt="Research at EPIC Lab">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            Assistive Hip Exoskeleton - Exoskeleton and Prosthetics Intelligent Control Lab - Georgia Tech
                        </h3>
                    </div>
                    <p>The Exoskeleton and Prosthetic Intelligent Controls (EPIC) Lab at Georgia Tech, led by Professor Aaron Young, is devoted to the design and improvement of powered orthotic and prosthetic control systems.</p>
                    <p>While in EPIC, I worked on the Assistive Hip Exoskeleton project as an undergraduate RA. I designed and machined the housings and most major components on the series elastic actuators of the hip exo. </p>
                    <!-- <p><a href="https://www.epic.gatech.edu/" target="_blank" class="contact-item">Lab Homepage</a></p> -->
                    <div class="tech-list">
                        <span class="tech-item">Exoskeleton</span>
                        <span class="tech-item">Series Elastic Actuators</span>
                        <span class="tech-item">Mechanical Design</span>
                </div>
            </div>
        </li>
    </ul>
