<h2>Research Projects</h2>
    <ul class="project-list">
        <!-- Project 1 -->
        <li class="project-item" data-project-id="athena">
            <div class="project-content">
                <img src="assets/images/project_images/athena.jpg" alt="Research at LIDAR Lab">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            <a href="https://lab-idar.gatech.edu/" target="_blank">Athena - Laboratory for Intelligent Decision and Autonomous Robots - Georgia Tech</a>
                        </h3>
                    </div>
                    <p>The Laboratory for Intelligent Decision and Autonomous Robots (LIDAR Lab) led by Prof. Ye Zhao at GaTech focuses research on robotic system and interactions.</p>
                    <p>While in LIDAR, I led a sub-team of 12 undergraduate students and worked on designing and integrating a biomimetic upper body robot, Athena.</p>
                    <p>My team focused on designing and characterizing mechatronics systems. Emulating human muscle architecture, we used linear actuators to command 28 degrees of freedom on the system. I also managed CAD repositories and optimized the structure using topology optimization for maximum weight reduction while maintaining system stiffness.</p>
                    <p><a href="https://lab-idar.gatech.edu/" target="_blank" class="contact-item">Lab Homepage</a></p>
                </div>
            </div>
        </li>
        
        
        <!-- Project 2 -->
        <li class="project-item" data-project-id="hip-exo">
            <div class="project-content">
                <img src="assets/images/project_images/hip-exo.gif" alt="Research at EPIC Lab">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            <a href="https://www.epic.gatech.edu/" target="_blank">Assistive Hip Exoskeleton - Exoskeleton and Prosthetics Intelligent Control Lab - Georgia Tech</a>
                        </h3>
                    </div>
                    <p>The Exoskeleton and Prosthetic Intelligent Controls (EPIC) Lab at Georgia Tech, led by Professor Aaron Young, is devoted to the design and improvement of powered orthotic and prosthetic control systems.</p>
                    <p>While in EPIC, I worked on the Assistive Hip Exoskeleton project as an undergraduate RA. I designed and machined the housings and most major components on the series elastic actuators of the hip exo. </p>
                    <p>With the rest of the team, we developed experiments to characterize the performance of the system by collecting user’s metabolic cost of walking under different system settings. I was also responsible for system setup and data collection.</p>
                    <p><a href="https://www.epic.gatech.edu/" target="_blank" class="contact-item">Lab Homepage</a></p>
                </div>
            </div>
        </li>
    </ul>
