<h2>Academic Projects</h2>
    <ul class="project-list">
        <!-- Project 0 -->
        <li class="project-item" data-project-id="dexterous-hand">
            <div class="project-content">
                <img src="assets/images/project_images/hand.gif" alt="Finger Prototype">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            <a href="https://www.mccormick.northwestern.edu/robotics/" target="_blank">Biomimetic Dexterous Hand - Winter 2025</a>
                        </h3>
                    </div>
                    <p><strong>Biomimetic Cable-Driven Dexterous Hand</strong> is my winter 2025 project work-in-progress.</p>
                    <p>I've always been fascinated by the complexity and dexterity of the human hand, one of our most remarkable tools. In this project, I'm designing a biomimetic hand that replicates human dexterity using cable-driven phalangeal joints to minimize distal inertia.</p>
                    <p><a href="https://github.com/wengmister/Hand" target="_blank" class="contact-item">Project Repo</a></p>
                </div>
            </div>
        </li>
        <!-- Project 1 -->
        <li class="project-item" data-project-id="robotic-mini-golf">
            <div class="project-content">
                <img src="assets/images/project_images/apex-putter-shots.gif" alt="Robotic Mini-golf">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            <a href="https://www.mccormick.northwestern.edu/robotics/" target="_blank">Apex Putter - Embedded Systems in Robotics</a>
                        </h3>
                    </div>
                    <p><strong>Apex Putter: Robotic Mini-Golf</strong> was my culminating project for <em>ME495: Embedded Systems in Robotics</em> in Fall 2024.</p>
                    <p>Through this project, I integrated robot calibration, precise kinematic control, advanced computer vision, and machine learning techniques to enable a Franka Emika Research robot to excel at mini-golf. The system was capable of executing a hole-in-one from any starting ball position.</p>
                    <p><a href="https://github.com/wengmister/Apex-Putter" target="_blank" class="contact-item">Project Repo</a></p>
                </div>
            </div>
        </li>
        <!-- Project 2 -->
        <li class="project-item" data-project-id="grab-a-pen">
            <div class="project-content">
                <img src="assets/images/project_images/hackathon_pen_s.gif" alt="PincherX Grab-A-Pen">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            <a href="https://www.mccormick.northwestern.edu/robotics/" target="_blank">Grab-A-Pen Challenge - Northwestern MSR Hackathon</a>
                        </h3>
                    </div>
                    <p><strong>Grab-A-Pen</strong> was the final challenge of the MSR program orientation hackathon.</p>
                    <p>In this challenge, I calibrated and aligned a Trosen Robotics PincherX100 robot arm using an RGBD camera. The arm was programmed to locate, pick up a pen, and hand it off to other robots. (Video courtesy of <a href="https://absrat.com/">Zhengxiao Han</a>.)</p>
                    <p><a href="https://github.com/wengmister/msr_PincherX" target="_blank" class="contact-item">Project Repo</a></p>
                </div>
            </div>
        </li>
        <!-- Project 3 -->
        <li class="project-item" data-project-id="mobile-manipulation">
            <div class="project-content">
                <img src="assets/images/project_images/mobile_manipulation.gif" alt="Mobile Manipulation">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            <a href="https://www.mccormick.northwestern.edu/robotics/" target="_blank">Mobile Manipulation - Robotic Manipulation</a>
                        </h3>
                    </div>
                    <p><strong>Mobile Manipulation</strong> was my final project for <em>ME449: Robot Manipulation</em>.</p>
                    <p>In this project, I applied course concepts like robotic manipulation, forward kinematics, and linear control to create a simulation in CoppeliaSim. The simulation showcased a KUKA youBot moving a box from one location to another with precision and efficiency.</p>
                    <p><a href="https://github.com/wengmister/me449/tree/main/final_project" target="_blank" class="contact-item">Project Repo</a></p>
                </div>
            </div>
        </li>
        <!-- Project 4 -->
        <!-- <li class="project-item" data-project-id="jack-in-a-cup">
            <div class="project-content">
                <img src="assets/images/project_images/jack-in-a-cup.gif" alt="jack-in-a-cup">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            <a href="https://www.mccormick.northwestern.edu/robotics/" target="_blank">Jack-in-a-cup Simulation - Dynamics</a>
                        </h3>
                    </div>
                    <p>The <strong>Jack-in-a-Cup</strong> simulation marked the culmination of my work in <em>ME314: Dynamics</em>.</p>
                    <p>Using Hamilton's Principles, I modeled the dynamic interactions of a jack within a spinning box, accounting for impacts and energy exchanges. Solving the equations of motion provided insights into the behavior of systems experiencing constraints and collisions.</p>
                    <p><a href="https://github.com/wengmister/me314" target="_blank" class="contact-item">Project Repo</a></p>
                </div>
            </div>
        </li> -->
    </ul>
