<h2>Projects</h2>
    <ul class="project-list">
        <!-- Project 4 -->
        <!-- <li class="project-item" data-project-id="jack-in-a-cup">
            <div class="project-content">
                <img src="assets/images/project_images/jack-in-a-cup.gif" alt="jack-in-a-cup">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            <a href="https://www.mccormick.northwestern.edu/robotics/" target="_blank">Jack-in-a-cup Simulation - Dynamics</a>
                        </h3>
                    </div>
                    <p>The <strong>Jack-in-a-Cup</strong> simulation marked the culmination of my work in <em>ME314: Dynamics</em>.</p>
                    <p>Using Hamilton's Principles, I modeled the dynamic interactions of a jack within a spinning box, accounting for impacts and energy exchanges. Solving the equations of motion provided insights into the behavior of systems experiencing constraints and collisions.</p>
                    <p><a href="https://github.com/wengmister/me314" target="_blank" class="contact-item">Project Repo</a></p>
                </div>
            </div>
        </li> -->
    </ul>
