<h2>Academic Projects</h2>
    <ul class="project-list">
        <!-- Project 0 -->
        <li class="project-item" data-project-id="dexterous-hand">
            <div class="project-content">
                <img src="assets/images/project_images/hand.gif" alt="Finger Prototype">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            <a href="https://www.mccormick.northwestern.edu/robotics/" target="_blank">Biomimetic Dexterous Hand - Winter 2025</a>
                        </h3>
                    </div>
                    <p>Biomimetic cable-driven dexterous hand is my winter 2025 project work-in-progress.</p>
                    <p>I've always been fascinated by the complexity and dexterity of the human hand, one of our most remarkable tools. In this project, I'm designing a biomimetic hand that mimics human dexterity, using cable-driven phalangeal joints to minimize distal inertia.</p>
                    <p><a href="https://github.com/wengmister/Hand" target="_blank" class="contact-item">Project Repo</a></p>
                </div>
            </div>
        </li>
        <!-- Project 1 -->
        <li class="project-item" data-project-id="robotic-mini-golf">
            <div class="project-content">
                <img src="assets/images/project_images/apex-putter.gif" alt="Robotic Mini-golf">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            <a href="https://www.mccormick.northwestern.edu/robotics/" target="_blank">Apex Putter - Embedded Systems in Robotics</a>
                        </h3>
                    </div>
                    <p>Apex Putter - robotic mini-golf is my final project submission to ME495 Embedded Systems in Robotics in Fall 2024.</p>
                    <p>For this project, I integrated the concepts of robot calibration, kinematic control, computer vision, and machine learning, and made a Franka Emika Research robot play the game of putt-putt with any arbitrary ball position to hole-in-one.</p>
                    <p><a href="https://github.com/wengmister/Apex-Putter" target="_blank" class="contact-item">Project Repo</a></p>
                </div>
            </div>
        </li>
        <!-- Project 2 -->
        <li class="project-item" data-project-id="grab-a-pen">
            <div class="project-content">
                <img src="assets/images/project_images/hackathon_pen_s.gif" alt="PincherX Grab-A-Pen">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            <a href="https://www.mccormick.northwestern.edu/robotics/" target="_blank">Grab-A-Pen Challenge - Northwestern MS Robotics Hackathon</a>
                        </h3>
                    </div>
                    <p>Grab-A-Pen is the final challenge in the MSR program orientation hackathon. </p>
                    <p>In this challenge, I opitcally calibrated and registered a Trosen Robotics PincherX100 robot arm using an RGBD camera. The arm was then tasked to locate and grasp a pen and pass it along to other robot arms (video courtesy of <a href="https://absrat.com/">Zhengxiao Han</a>).</p>
                    <p><a href="https://github.com/wengmister/msr_PincherX" target="_blank" class="contact-item">Project Repo</a></p>
                </div>
            </div>
        </li>
        <!-- Project 3 -->
        <li class="project-item" data-project-id="mobile-manipulation">
            <div class="project-content">
                <img src="assets/images/project_images/mobile_manipulation.gif" alt="Mobile Manipulation">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            <a href="https://www.mccormick.northwestern.edu/robotics/" target="_blank">Mobile Manipulation - Robotic Manipulation</a>
                        </h3>
                    </div>
                    <p>Mobile Manipulation is the final project for ME449 Robot Manipulation. </p>
                    <p>For this project, I integrated the concepts of robotic manipulation, forward kinematics, mobile odometry and linear control, and created a simulation of a kuka youBot picking a box up and placing it down in another location with CoppeliaSim.</p>
                    <p><a href="https://github.com/wengmister/me449/tree/main/final_project" target="_blank" class="contact-item">Project Repo</a></p>
                </div>
            </div>
        </li>
    </ul>
