<h2>Software & Tools</h2>
    <ul class="project-list">
        <li class="project-item" data-project-id="hand-tracking">
            <div class="project-content">
                <img src="assets/images/project_images/hts/hts_intro.gif" alt="hand tracking streamer overview">
                <div class="project-details">
                    <div class="project-title">
                        <h3>
                            Hand Tracking Streamer: Meta Quest VR App for tracking and streaming hand and wrist landmark telemetry
                        </h3>
                    </div>
                    <p>Hand Tracking Streamer is a lightweight hand telemetry utility that turns a Meta Quest headset into a precision controller for robotics teleoperation and motion capture. </p>
                    <p>Built on the Meta Interaction SDK, it streams 21-landmark hand data and 6-DoF wrist pose to a PC in real time, making it suitable for robot control, imitation learning, and gesture-based prototyping.</p>
                    <div class="tech-list">
                        <span class="tech-item">Mixed Reality</span>
                        <span class="tech-item">Hand Tracking</span>
                        <span class="tech-item">Unity Engine</span>
                        <span class="tech-item">Teleoperation</span>
                    </div>
                </div>
            </div>
        </li>
